<!cmd+shift+v for preview -->
<! keep vaporwave aesthetics in mind -->


<!
long term;
loading animation like patrick david 
 -->




<!DOCTYPE html>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css"> 

<html>

<div class="cursor"></div>
<div class="cursor2"></div>
<head> 

  <style>
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
  </style>
</head>

  <div id="site-header" >
  <%= image_tag "hands.png", id:"hands"%>    
    <h1 id= "titre_principal">
      <a href="#top"> Alexis NS </a>
    </h1>
    <div id = "liens">
      <a href="#top">About /</a>
      <a href="#stack"> Stack /</a>
      <a href="#bottom">contact </a>
    </div>   
  </div>



<body>
  <%= image_tag "statue.gif", id:"friday", class:"picture"%>    
<div class="container">
<div class="typed-out" id="introduction">
<h1> Hi! I'm Alexis. </h1>
  </div>
  </div>
  <div> 
    <h1 id="introductionbis"> I am completing my training at <a style="color:#f542d1" target="_blank" href='https://www.lewagon.com/web-development-course'> Le Wagon</a>, <br> a web development school. <br><br> I have a passion for all things technology and design, <br> from software engineering to UI/UX.
    <br><br>  In addition to this, I am also interested <br> in endurance sports (triathlon) and entrepreneurship. </h1>
  </div>
 


  <div id="stack"> My stack <br> </div>

  <%= image_tag "pinkarrow.png", id:"pinkarrowstack"%>    


  <div id="frontstack">Frontend</div>
  <div id="backstack">Backend</div>
  <div id="framestack">Frameworks</div>


  <div id="leftline"></div>
  <div id="midline"></div>
  <div id="rightline"></div>



  <div class="icons">

    <div class="fronties">
      <i id="htmlicon" class="devicon-html5-plain-wordmark"></i>
      <i id="css" class="devicon-css3-plain-wordmark"></i>
      <i id="js" class="devicon-javascript-plain"></i>
    </div>

    <div class="backies">
      <i id= "ruby" class="devicon-ruby-plain-wordmark"></i>
      <i id="python" class="devicon-python-plain-wordmark"></i>
    </div>  

    <div class="framies">
      <i id="rails" class="devicon-rails-plain-wordmark"></i>
      <i id="django" class="devicon-django-plain"></i>
      </div>

  </div>


<div class="languages"> 
      <p id="frontlanguages">Html<br>Css<br>Javascript</p>
      <p id="backlanguages">Ruby<br>Python</p>
      <nobr> <p id="frameworks">Ruby on Rails <br> Django </nobr> </p>
</div>

<%= image_tag "pinkarrow.png", id:"pinkarrowtouch"%>    



  <div id="inbox-message">
    <p style="font-size: 30px"> Get in touch </p>
    <p  style="color:#f542d1" > My inbox is always open. <br> Whether you have a question or just want to say Hi, <br> I’ll try my best to get back to you! </p>
  </div>

 

<a id="button-30" target="_blank" href="mailto:alexisns@pm.me" > Say Hello </a>





<footer>
        <div class="footer">
          <h1>
               <a href="mailto:alexisns@pm.me" target="_blank"> Contact /</a>
               <a target="_blank" href="https://www.givewell.org/"> Donate <br> <br> </a>
              <p style="font-size: 10px">Built from scratch with 🤍 </p>
              <div id="bottom"></div>

        </div>
  </footer>

<a href="https://github.com/alexisnsns" target="_blank" id="github" class="fa fa-github" ></a>
<a href="https://www.linkedin.com/in/alexisns/" target="_blank" id="linkedin" class="fa fa-linkedin-square" ></a>
<a href="mailto:alexisns@pm.me" target="_blank" id="email"> alexisns@pm.me </a>

<p id="v_line"> </p>
<p id="v_line2"> </p>


</body>

</html>

